
 button { 
    
    padding: 10px 40px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color:white;
    background-color: pink;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
   /* .button:hover {background-color pink}  */
 button:hover {background-color:palevioletred}
.button:active {
  background-color: pink;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
legend{text-align: center;

}
table, th, td {
    
  margin-top: 100px;
  margin-bottom: 150px;
  margin-right: 150px;
  margin-left: 250px;
    border: 1px solid black;
    text-align: center;
  }
  h1{
      text-align: center;
      background-color: pink;
  }